/**
 * Base Styles
 */

html, body {
	height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}

blockquote {
	padding: 0;
	border: none;
	line-height: 1.714285714;
	font-family: $font-family-serif;
}

cite {
	display: block;
	padding-top: 3px;
	font-size: 16px;
	font-style: normal;
	color: #d2c8be;
}

sup {
	top: -0.7em;
}

.sprite {
	display: none;
}