/**
 * Scroll
 */

.scroll {
	display: block;
	margin: 0 auto 45px;
	width: 110px;
	color: $brand-primary;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: $base-letter-spacing;
}